<div class="profiles-header">
	<div class="btn-group nav-perfil pull-right">
		<button type="button" class="btn btn-default btn-perfil dropdown-toggle pull-right drop-profile" data-toggle="dropdown">
		    @Resources.Home_ProfilesList
            <span class="glyphicon glyphicon-chevron-right"></span>
		</button>
		<ul class="dropdown-menu dd-perfil">
	        <li class="p-desarrollador">
	            <a href="#">
	                <span class="glyphicon glyphicon-chevron-right"></span>
	                        @Resources.Home_ProfileList_Developer
	            </a>
	        </li>
		    <li class="p-estudiante">
		        <a href="#">
		            <span class="glyphicon glyphicon-chevron-right"></span>
		                    @Resources.Home_ProfileList_Student
		        </a>
		    </li>
		    <li class="p-empresa">
		        <a href="#">
		            <span class="glyphicon glyphicon-chevron-right"></span>
		                    @Resources.Home_ProfileList_Enterprise
		        </a>
		    </li>
		</ul>
	</div>
</div>
