@{
  ViewBag.Title = "Instituciones";
}

@section DPerfil{
  @Html.Partial("_DPerfil")
}

<div class="contentIzq">
    <h1>Universidad Tecnologica Nacional</h1>
    <h2>Facultad Regional Resistencia</h2>
    <div class="imgPerfilInstituciones">
        <img src="~/Images/utn_logo.jpg">
    </div>
    <div class="redesSocInstituciones">
        <div class="face">
            <p><a href="https://www.facebook.com/frreutn" target="_blank">Facebook</a></p>
        </div>
        <div class="twit">
            <p><a target="_blank" href="https://twitter.com/utn_frre">Twitter</a></p>
        </div>
        <div class="googleSoc">
            <p><a target="_blank" href="https://plus.google.com/+utnfrre">Google+</a></p>
        </div>
        <div class="email">
            <p><a href="#">dircpd@gmail.com</a></p>
        </div>
    </div>
</div>
<div class="contentCent">
    <div class="navInstituciones">
        <ul>
            <li><a id="acercaInst" class="navActivoInst" href="#">Acerca de</a></li>
            <li><a id="trayectInst" href="#">Historia</a></li>
            <li><a id="contInst" href="#">Contacto</a></li>
            <li><a id="evenInst" href="#">Eventos</a></li>
            <li><a id="notInst" href="#">Noticias</a></li>
        </ul>
    </div>
    <div id="textNavInst">
        <div id="acercaDeInst" class="textoDifNavInst">
            <h3>Acerca de la Universidad Tecnológica Nacional</h3>
            <h2>Misión de la UTN FRRe</h2>
            <br>
            <p>Somos una institución de educación superior, donde la comunidad académica, los emprendedores y la sociedad encuentran el escenario adecuado para compartir un proyecto educativo crítico, flexible e integral, a través del cual aprenden a conocer, hacer, convivir y ser, dentro de altas exigencias académicas y con un sentido de responsabilidad social conducente al mejoramiento de la calidad de vida a nivel regional, nacional e internacional.</p>
            <br>
            <h2>Visión de la UTN FRRe</h2>
            <br>
            <p>Para el 2018, ser una institución líder a nivel regional, reconocida a nivel nacional e internacional por su calidad académica y de investigación, por su modelo de articulación con el sector productivo y social, caracterizada por formar egresados emprendedores, críticos y responsables socialmente.</p>
        </div>
        <div id="trayectoriaInst" class="pagContrInst">
				<h1>Historia</h1>
				<p style="text-align: center;"><span style="font-size: small;"><strong>50 AÑOS DE HISTORIA CARRERA A CARRERA</strong></span></p>
				<p>&nbsp;</p>
				<p style="text-align: justify;">La épica gestacional de la Universidad Tecnológica Nacional, antes Universidad Obrera Nacional, respondía a un modelo productivo centrado en el fortalecimiento de la Industria Nacional y la jerarquización de la formación técnica necesaria para nutrirla.<br>Los sucesivos cambios políticos producidos a lo largo de los años en Argentina y en el mundo no pudieron, sin embargo, abolir el creciente prestigio que la UTN fue adquiriendo a base de trabajo, exigencia y compromiso.<br>Las siguientes páginas reseñarán el proceso de creación de la Facultad Regional Resistencia de UTN en el marco del Cincuentenario, manteniendo viva la antorcha de los fundadores, que supieron concebir el proyecto, compartir la idea y concretar la visión, para beneficio de toda la Región, a través del accionar de los Profesionales Tecnológicos.</p>
				<p style="text-align: center;">&nbsp;</p>
				<p style="text-align: center;">&nbsp;</p>
				<p style="text-align: center;"><span style="font-size: small;"><strong>DE LA OBRERA NACIONAL A LA TECNOLÓGICA</strong></span></p>
				<p><strong><br></strong></p>
				<p style="text-align: justify;"><strong>1948  Creación de la Universidad Obrera Nacional</strong><br> El 19 de agosto se sanciona la ley número 13.229, sobre la creación de  la Universidad Obrera Nacional (UON) con el objetivo central de  coadyuvar en la recuperación económica del país permitiendo que “la  industria nacional sea dirigida por técnicos argentinos y realizada por  obreros argentinos” y también posibilitar a los trabajadores “escalar  posiciones que antes les fueron arbitrariamente negadas”. (Senadores,  1948. T. 1., p. 170).</p>
				<p style="text-align: justify;"><strong>&nbsp;</strong></p>
				<p style="text-align: justify;"><strong>1953  La UON Abre sus Puertas</strong><strong>&nbsp;</strong><br> El 17 de marzo la Universidad Obrera abrió sus puertas. Su sede central y  también la Facultad Regional Buenos Aires, se hallaban en el amplio  edificio de la calle Medrano al 951, que compartían con la Dirección  General de Enseñanza Técnica. Los egresados de la UON obtenían el título  de Técnico de Fábrica en la especialidad correspondiente.</p>
				<p style="text-align: justify;"><strong>&nbsp;</strong></p>
				<p style="text-align: justify;"><strong>1955  Inestabilidad</strong><br>En septiembre, con la caída del gobierno peronista, la UON pasó por un período de mucha inestabilidad (del 55 al 58), el cual sirvió sin embargo para delinear algunos aspectos que constituirían la base de su identidad institucional.</p>
				<p style="text-align: justify;">&nbsp;</p>
				<p style="text-align: justify;"><strong><img style="float: left;" src="http://www.frre.utn.edu.ar/index.php?site=institucional&amp;mode=clean&amp;mod=files&amp;func=get&amp;item=1581" alt="" width="295" height="217"></strong></p>
				<p><img style="float: right;" src="http://www.frre.utn.edu.ar/index.php?site=institucional&amp;mode=clean&amp;mod=files&amp;func=get&amp;item=1582" alt="" width="156" height="217"></p>
				<p><br><strong>&nbsp;</strong></p>
				<p style="text-align: justify;">&nbsp;</p>
				<p style="text-align: justify;">&nbsp;</p>
				<p style="text-align: justify;">&nbsp;</p>
				<p style="text-align: justify;">&nbsp;</p>
				<p style="text-align: justify;">&nbsp;</p>
				<p style="text-align: justify;">&nbsp;</p>
				<p style="text-align: justify;">&nbsp;</p>
				<p style="text-align: justify;">&nbsp;</p>
				<p><span style="font-size: xx-small;"><em>Los integrantes de la Junta Directiva Provisoria.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Escudo de la UON.</em></span></p>
				<p style="text-align: justify;">&nbsp;</p>
				<p style="text-align: justify;"><strong>1959  Ajustes</strong><br>El Congreso de la Nación sanciona el 14 de octubre la ley 14.855 sobre la Autarquía de la Universidad Tecnológica Nacional, rediseñando algunas de sus características iniciales con modificaciones que se mantienen hasta el día de hoy.</p>
				<p style="text-align: justify;">&nbsp;</p>
				<p style="text-align: justify;">&nbsp;</p>
				<p style="text-align: center;"><span style="font-size: small;"><strong>EL PROYECTO DE LA REGIONAL RESISTENCIA</strong></span></p>
				<p style="text-align: center;">&nbsp;</p>
				<p style="text-align: justify;"><strong>1960  Creación de la Regional Resistencia</strong><br>EL 29 de septiembre se produce la sanción de la ley 15.599, que corresponde a la creación de la Regional Resistencia de la Universidad Tecnológica Nacional, cuya autoría corresponde a Don Victorino Gutiérrez.</p>
				<p style="text-align: justify;">&nbsp;</p>
				<p><img style="float: left;" src="http://www.frre.utn.edu.ar/index.php?site=institucional&amp;mode=clean&amp;mod=files&amp;func=get&amp;item=1584" alt="" width="235" height="146"><img style="float: right;" src="http://www.frre.utn.edu.ar/index.php?site=institucional&amp;mode=clean&amp;mod=files&amp;func=get&amp;item=1583" alt="" width="218" height="151"></p>
				<p style="text-align: justify;">&nbsp;</p>
				<p style="text-align: justify;">&nbsp;</p>
				<p style="text-align: justify;">&nbsp;</p>
				<p style="text-align: justify;">&nbsp;</p>
				<p style="text-align: justify;">&nbsp;</p>
				<p style="text-align: justify;">&nbsp;</p>
				<p style="text-align: justify;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <em><br></em><span style="font-size: xx-small;"><em>&nbsp;</em></span></p>
				<p style="text-align: justify;"><span style="font-size: xx-small;"><em>Izquierda: Acto inaugural de la Regional Resistencia de UTN, en la Escuela Normal Sarmiento</em></span></p>
				<p style="text-align: justify;"><span style="font-size: xx-small;"><em>Derecha:  Lucio Durañona (Izq.), primer Decano de la Regional Resistencia de UTN e  Ignacio Vargas (Der.), uno de los principales actores en la creación de  la Regional.</em></span><br><span style="font-size: xx-small;"><em>&nbsp;</em></span></p>
				<p style="text-align: justify;">&nbsp;</p>
				<p style="text-align: justify;"><strong>1962  La Primera Carrera</strong><br>El Consejo Superior de la Universidad, aprobó en marzo la Resolución Nº 223, que autorizaba la puesta en marcha del curso de ingreso obligatorio para bachilleres y maestros, así como el ingreso directo de los egresados de las Escuelas Técnicas Nacionales como aspirantes a la carrera de Ingeniería Mecánica de la UTN.</p>
				<p style="text-align: justify;"><br><strong>1962  Primer Examen de Ingreso</strong><br>Arribaron el 2 de mayo a Resistencia –como veedores del examen de ingreso de UTN– el Vicerrector a cargo, Dr. Juan F. Salellas, el Secretario General, Dr. Dardo J. S. Vissio y el Decano de la Facultad Regional de La Plata, Ing. Juan Sabate. Como el porcentaje de alumnos aprobados fue el suficiente para justificar el funcionamiento de una Facultad en la ciudad de Resistencia, se decidió obrar en consecuencia.</p>
				<p style="text-align: justify;"><br><strong>1962  Inauguración</strong></p>
				<p style="text-align: justify;">El 3 de mayo de se realiza el acto inaugural de la Regional Resistencia de UTN, en la sede de la Biblioteca de la Escuela Normal Sarmiento, donde estuvieron presentes las más altas autoridades de la Provincia del Chaco, representantes de las instituciones promotoras (Rotary, Cámara de la Industria, Cámara de Comercio, etc.), profesores y alumnos de la flamante Facultad.</p>
				<p style="text-align: justify;">&nbsp;</p>
				<p style="text-align: justify;"><strong>1963  De Regreso a la Escuela Normal</strong><br>Corría el mes de febrero y debía continuarse lo iniciado en el ciclo anterior y –ante la ausencia de respuesta de las autoridades de la Universidad y del Ministerio de Educación de la Nación– la Escuela Normal volvió a albergar a alumnos y profesores de la Regional Resistencia de UTN.</p>
				<p style="text-align: justify;"><br><strong>1963  Construcción del Edificio Propio</strong><br>En octubre se inicia la febril tarea de levantar el local de la Regional, con la llegada de la primera partida de fondos.</p>
				<p style="text-align: justify;">&nbsp;</p>
				<p><img style="display: block; margin-left: auto; margin-right: auto;" src="http://www.frre.utn.edu.ar/index.php?site=institucional&amp;mode=clean&amp;mod=files&amp;func=get&amp;item=1585" alt="" width="322" height="164"></p>
				<p style="text-align: justify;">&nbsp;</p>
				<p style="text-align: justify;"><strong>1965  La Esperada Inauguración</strong><br>Se produce la inauguración de la sede de la FRRe-UTN, dejando en el local de la Escuela Normal Sarmiento, como prueba de gratitud, una plaqueta de bronce que testimonia la gran colaboración prestada por la centenaria institución Normalista.</p>
				<p style="text-align: justify;">&nbsp;</p>
				<p><img style="display: block; margin-left: auto; margin-right: auto;" src="http://www.frre.utn.edu.ar/index.php?site=institucional&amp;mode=clean&amp;mod=files&amp;func=get&amp;item=1586" alt="" width="450" height="225"></p>
				<p style="text-align: center;"><span style="font-size: xx-small;"><em>Diferentes momentos de la construcción de la Regional</em></span><br><span style="font-size: xx-small;"><em>Resistencia de UTN, en los terrenos de su actual sede de French 414.</em></span></p>
				<p style="text-align: center;">&nbsp;</p>
				<p style="text-align: center;">&nbsp;</p>
				<p style="text-align: center;"><span style="font-size: small;"><strong>PRIMER PASO: INGENIERÍA MECÁNICA</strong></span></p>
				<p style="text-align: center;">&nbsp;</p>
				<p style="text-align: justify;"><strong>1966/67  En Carrera</strong><br>Con celoso rigor, continuaron las actividades académicas y administrativas de la Tecnológica en Resistencia, desarrollando las actividades previstas para la carrera de Ingeniería Mecánica, sin mayores inconvenientes.</p>
				<p style="text-align: justify;">&nbsp;</p>
				<p><img style="float: left;" src="http://www.frre.utn.edu.ar/index.php?site=institucional&amp;mode=clean&amp;mod=files&amp;func=get&amp;item=1587" alt="" width="253" height="176"><br><br></p>
				<p>&nbsp;</p>
				<p style="text-align: justify;">&nbsp;</p>
				<p style="text-align: justify;"><span style="font-size: xx-small;">Primeros egresados de Ing. Mecánica en visita a planta industrial de Puerto Vilelas (</span>izquierda<span style="font-size: xx-small;">) y con el Rector Ing. Salellas (abajo).</span></p>
				<p style="text-align: left;">&nbsp;</p>
				<p style="text-align: left;">&nbsp;</p>
				<p style="text-align: left;">&nbsp;</p>
				<p style="text-align: left;"><img style="float: right;" src="http://www.frre.utn.edu.ar/index.php?site=institucional&amp;mode=clean&amp;mod=files&amp;func=get&amp;item=1588" alt="" width="274" height="159"></p>
				<p style="text-align: left;">&nbsp;</p>
				<p style="text-align: left;">&nbsp;</p>
				<p style="text-align: justify;"><strong>1968  Primeros Graduados</strong><br>Luego de seis arduos años, en septiembre se realizó la colación de grado de los primeros Ingenieros Mecánicos de la Facultad Regional Resistencia de UTN.<br><br></p>
				<p style="text-align: left;">&nbsp;</p>
				<p style="text-align: left;">&nbsp;</p>
				<p style="text-align: justify;">La nómina de graduados fue la siguiente: Aurelio Peralta, Julio Santiago Deheza, Rubén Hugo Mildenberguer, José Alberto Miño, Santos Viñuela, Rosa Elbert de Goldring, Rubén Amado Cardalda, Juan Heriberto Bauer, Juan Roberto García y Enrique Antonio Domínguez. Cabe agregar que el Ing. Peralta, recibió en la ocasión, de parte del Rotary Club, una medalla de oro al primer graduado de la Facultad, mientras que el Ing. Cardalda, recibió otra de las medallas de oro, de parte del Gobierno del Chaco, por haber obtenido el mejor promedio.</p>
				<p style="text-align: center;">&nbsp;</p>
				<p style="text-align: center;">&nbsp;</p>
				<p style="text-align: center;"><span style="font-size: small;"><strong>DE LA MECÁNICA A LA ELECTROMECÁNICA</strong></span></p>
				<p style="text-align: center;">&nbsp;</p>
				<p style="text-align: justify;"><strong>1973/74  Tiempos Turbulentos</strong><br>En el Chaco, era gobernador el Escribano Deolindo Felipe Bittel y en la Facultad Regional Resistencia de UTN, como reflejo de la turbulencia social y política que imperaba en el país, en ese corto período se sucedieron como Decanos los ingenieros Jaime Goldring, Livio Da Dalt y Mario Carlos Gon.</p>
				<p style="text-align: justify;"><br><strong>1974  Intervención</strong><br>Hacia fines del 74 el Ingeniero José Miño –egresado de la 1º promoción– fue nombrado a cargo de la Intervención del Decanato y se desempeñó en el mismo hasta 1979.</p>
				<p style="text-align: left;">&nbsp;</p>
				<p style="text-align: left;"><img style="display: block; margin-left: auto; margin-right: auto;" src="http://www.frre.utn.edu.ar/index.php?site=institucional&amp;mode=clean&amp;mod=files&amp;func=get&amp;item=1589" alt="" width="235" height="177"></p>
				<p style="text-align: justify;"><span style="font-size: xx-small;"><em>El Ing. Víctor Maurokefalidis, uno de los más recordados docentes de Ingeniería Mecánica y Electromecánica</em></span><br><br></p>
				<p style="text-align: justify;"><strong>1974  Cambio de Rumbo</strong><br>La carrera de Ingeniería Mecánica de la Tecnológica, cede su lugar a la de Electromecánica. En virtud de la instalación de grandes centrales hidroeléctricas y de extensos y complejos sistemas de transmisión y distribución de energía, la Facultad Regional Resistencia de UTN se vio en la necesidad de capacitar profesionales con un conocimiento mayor en la parte eléctrica, además de la mecánica.</p>
				<p style="text-align: justify;"><br><strong>1970  Gran Convocatoria de Alumnos</strong><br>A mediados de la década del ’70, la Tecnológica de Resistencia recibió a numerosos estudiantes de todas las provincias del nordeste, así como del interior del Chaco, debido a que Ingeniería Electromecánica era la única en su género en toda la región. Es de destacar también que en esa época se evidenció la presencia de numerosos estudiantes provenientes del Paraguay y de Perú, quienes a causa de las ventajas cambiarias y del prestigio alcanzado por la Universidad Argentina en toda América, decidieron cursar sus estudios en estas tierras.</p>
				<p style="text-align: justify;">&nbsp;</p>
				<p style="text-align: justify;">&nbsp;</p>
				<p style="text-align: center;"><span style="font-size: small;"><strong>LAS CARRERAS EN SISTEMAS</strong></span></p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p><strong>- ANALISTA DE SISTEMAS</strong></p>
				<p>&nbsp;</p>
				<p style="text-align: justify;"><strong>1972  Primeros Pasos en Informática</strong><br>Se organiza en el Chaco el Centro de Informática de la Provincia, el cual absorbió a la Dirección de Compilación Mecánica de Casa de Gobierno. Para su desarrollo se contrató a la empresa IBM, que debía instalar un Computador IBM 360 modelo 20 primero y luego una modelo 25; consecuentemente, para operar las máquinas se debía entrenar al personal técnico necesario.</p>
				<p style="text-align: justify;">&nbsp;</p>
				<p><img style="display: block; margin-left: auto; margin-right: auto;" src="http://www.frre.utn.edu.ar/index.php?site=institucional&amp;mode=clean&amp;mod=files&amp;func=get&amp;item=1590" alt="" width="352" height="196"></p>
				<p style="text-align: center;"><em><span style="font-size: xx-small;">Computador IBM 360 utilizado en los primeras años.</span></em></p>
				<p style="text-align: center;"><em><span style="font-size: xx-small;"><br></span></em></p>
				<p style="text-align: justify;"><strong>1974  Nuevos Horizontes</strong><br>Ante la realidad que exigía la formación de profesionales que cubrieran demandas de esa naturaleza, la Facultad Regional Resistencia de UTN, abrió la carrera a término de Analista de Sistemas, cuya duración era de cuatro años e involucró a personas de diferentes edades, ya que se inscribieron a esta carrera jóvenes que habían finalizado el secundario en el ’72 y personas de mayor edad que trabajaban como funcionarios de organismos oficiales y otros.</p>
				<p style="text-align: justify;">El inicio de Analista de Sistemas nutrió a la FRRe de una gran cantidad de alumnos, pues se inscribieron más de un centenar de aspirantes, entre las que se encontraban un buen número de mujeres, cosa un tanto extraña en una facultad casi exclusivamente formada por hombres.</p>
				<p style="text-align: justify;"><br><strong>1977  Últimos Alumnos</strong><br>A fines del ’77 la carrera de Analista de Sistemas se cerró y no se volvió a abrir otra cohorte hasta 1984, donde asumió el nombre de Analista Universitario de Sistemas.</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p style="text-align: left;"><strong>- INGENIERÍA EN SISTEMAS DE INFORMACIÓN</strong></p>
				<p style="text-align: left;">&nbsp;</p>
				<p style="text-align: justify;"><strong>1984  Consolidación de una Nueva Disciplina</strong><br>El 20 de septiembre se crea la carrera de Ingeniería en Sistemas de Información (ISI), según ordenanza Nº 470. El motivo de la creación –plasmado en dicha ordenanza– establece “la existencia de requerimientos específicos no satisfecho por un Analista de Sistemas…” En base a documentos elaborados por las Facultades Regionales en lo referente a la formación de recursos humanos en el campo de la Informática, se distinguieron tres perfiles distintos de profesionales, a saber: quienes aborden el Hardware, el Software de Base o los Sistemas de Información. Por ser tecnología todo lo referente a la Informática, la UTN era el ámbito apropiado para desarrollar tales orientaciones, y así se hizo.<br><br><strong>1985  Primeros Alumnos</strong><br>En febrero se inicia el cursado de la carrera de Ingeniería en Sistemas en la Regional Resistencia de UTN.<br><br><strong>1995  Ajustes</strong><br>Luego de haberse modificado las correlatividades en 1987, a diez años de su inicio y en virtud de la experiencia acumulada por las Facultades Regionales de UTN, se modificó el plan de estudios, tras una oportuna revisión y teniendo en cuenta las nuevas pautas del Diseño Curricular.<br><br><strong>1996  Primer Director Departamental</strong><br>A fines de 1996 asume Jorge Alejandro Burgos como Director del Departamento de ISI, siendo el primer Ingeniero en Sistemas de Información en ocupar la Dirección de este departamento.<br><br><strong>1997  Tiempo de Reorganización</strong><br>Luego de un breve período de gobierno tripartito –del cual formaron parte la Analista de Sistemas Mirtha Giovannini, la Ing. Claudia Soria Ojeda y el Ing. Gustavo Maurokefalidis– fue designada en el cargo la Ing. Claudia Soria Ojeda, quien se ocupó de organizar administrativamente a la Carrera de ISI e iniciar el camino en el conocimiento y la adecuación de las asignaturas al Nuevo Diseño Curricular (vigente desde 1995).<br><br><strong>1998  Primer Consejo Departamental</strong><br>En diciembre se conformó el primer Consejo Departamental de Ingeniería en Sistemas de Información, siendo electa como Directora la Ing. Liliana Cuenca Pletsch, actual Decana de la Facultad Regional Resistencia de UTN.<br><br><strong>2010  Un Cuarto de Siglo</strong><br>Este año ISI cumple 25 años en la Regional Resistencia. Asimismo, la Esp. Mirtha Giovannin, la Cra. Nanci Chica y el Ing. Vicente Martín se desempeñan como docentes desde la implementación de la carrera.</p>
				<p style="text-align: justify;">&nbsp;</p>
				<p style="text-align: justify;">&nbsp;</p>
				<p style="text-align: center;"><span style="font-size: small;"><strong>INGENIERÍA QUÍMICA ABRE SUS PUERTAS</strong></span></p>
				<p style="text-align: justify;">&nbsp;</p>
				<p style="text-align: justify;"><strong>1989  Una Nueva Carrera</strong><br>Las autoridades resuelven crear la carrera de Ingeniería Química, luego que un estudio realizado en la región estableció su factibilidad, ya que la única carrera afín en aquel momento era la de Agroindustrias que se desarrollaba –y continúa desarrollándose– en Presidencia Roque Sáenz Peña.</p>
				<p style="text-align: justify;">&nbsp;</p>
				<p><img style="display: block; margin-left: auto; margin-right: auto;" src="http://www.frre.utn.edu.ar/index.php?site=institucional&amp;mode=clean&amp;mod=files&amp;func=get&amp;item=1600" alt="" width="340" height="190"></p>
				<p style="text-align: center;"><em><span style="font-size: xx-small;">Laboratorio de Ingeniería Química - Sede FRRe - French 414</span></em></p>
				<p style="text-align: center;">&nbsp;</p>
				<p style="text-align: justify;"><strong>1990  Inicio y Ajustes</strong><br>Comienza el dictado de la carrera de Ingeniería Química; paralelamente, un equipo formado por el Ing. Basterra, el Ing. Químico Gauto y las Licenciadas en Química Valdés y Chamorro comienza la elaboración de una propuesta de modificación del Plan de Estudios de Ingeniería Química.<br><br><strong>1991  Dirección del Ciclo de Especialización</strong><br>Por Resolución Nº 75/91 se asigna la Dirección del Ciclo de Especialización de Ingeniería Química al Ing. Qco. Enrique Eduardo Utgés, quien continúa en ese cargo hasta 1995.<br><br><strong>1995  Nueva Currícula</strong><br>En el mes de marzo entra en vigencia el Diseño Curricular 1995 para Ingeniería Química. Los principales aspectos fueron la reducción de la cantidad de materias de 44 a 30, más 22 créditos electivos. Se incorporó además como eje conductor, la serie de cinco materias integradoras –una por cada año– lo cual acortó la carrera de seis a cinco años.</p>
				<p style="text-align: justify;">&nbsp;</p>
				<p style="text-align: justify;"><strong>1994  Reforma Curricular</strong><br>La Facultad Regional Resistencia es designada –junto con las Facultades Regionales de Mendoza Capital, Buenos Aires y San Rafael– para integrar la Comisión de reforma del diseño curricular de Ingeniería Química, por haber sido una de las que propusieron modificaciones en su momento.<br><br><strong>1995  Creación del Consejo Consultivo</strong><br>Se crea el Consejo Consultivo de Ingeniería Química, pasando el Ing. Utgés a ser Director del mismo. Se eligen Consejeros Consultivos y comienza a funcionar dicho Consejo.<br><br><strong>2000  Creación del Departamento</strong><br>Se crea el Departamento de Ingeniería Química, pues ya había algunos egresados y suficiente cantidad de Profesores por Concurso como para integrar el Consejo Departamental. Así se elige a la primera Directora de la carrera, la Dra. Sonia Sgroppo, quien dirigió el Departamento hasta Diciembre de 2006, fecha en que fue electa la actual Directora, Dra Esther Chamorro.<br><br><strong>2005-09  Acreditaciones de la Carrera</strong><br>La carrera fue evaluada en el marco del proceso de acreditación de carreras de Ingeniería, obteniendo como resultado la acreditación por 3 años. En 2009 la Comisión Nacional de Evaluación y Acreditación Universitaria (CONEAU) evaluó positivamente el cumplimiento de los planes comprometidos en el 2005 y otorgó a la carrera la reacreditación por otros 3 años.</p>
				<p style="text-align: justify;">&nbsp;</p>
				<p style="text-align: justify;">&nbsp;</p>
				<p style="text-align: center;"><span style="font-size: small;"><strong>ÚLTIMA INCORPORACIÓN: LAR</strong></span></p>
				<p style="text-align: justify;">&nbsp;</p>
				<p style="text-align: justify;"><strong>1994  Primera Licenciatura</strong><br>El Consejo Superior de la UTN aprobó la Ordenanza 761 por la que se crea la carrera de Licenciatura en Administración Rural (LAR); de acuerdo con esto la Facultad Regional Resistencia decidió llevar a cabo el dictado de la carrera, para ello el Decano de aquel momento –el Ing. Guillermo Agüero– convocó al Contador Ángel Burguener como Director de la misma.<br><br><strong>1994  Cambios Curriculares</strong><br>El 2 de diciembre en la Facultad Regional de Rafaela, en una reunión general de todas las Facultades Regionales que dictan esta Licenciatura, se consensuó el Nuevo Plan de Materias y el Nuevo Régimen de Correlatividades entre ellas.<br><br><strong>2000  Conformación del Consejo</strong><br>Se integra el primer Consejo Departamental de LAR y se elige por primera vez Director del Consejo, resultando electo el Contador Ángel Burguener.<br><br><strong>2003  Implementación del Nuevo Plan</strong><br>El 20 de agosto se sanciona la Ordenanza 990, por Acta del Consejo Departamental de LAR donde se aprobó la implementación del nuevo Diseño Curricular aprobado por la citada Ordenanza.<br><br><strong>2004-10  DIRECTORES DEPARTAMENTA LES</strong><br>En diciembre de 2004 es reelecto como Director del Departamento de LAR el Cdor. Ángel Burguener. Cuatro años más tarde es electo el Ing. Químico Alfredo Sequeira, quien dimitió a comienzos del 2010. En junio de ese mismo año, por consenso entre los integrantes del Departamento, se resolvió elegir al Cdor. Horacio Piceda para culminar el período 2008-2012.</p>
				<p style="text-align: justify;">&nbsp;</p>
				<p style="text-align: justify;">&nbsp;</p>
				<p style="text-align: center;"><span style="font-size: small;"><strong>LAS CARRERAS CORTAS</strong></span></p>
				<p style="text-align: justify;"><br><strong>- TECNICATURA SUPERIOR EN PROGRAMACIÓN</strong></p>
				<p style="text-align: justify;">&nbsp;</p>
				<p style="text-align: justify;"><strong>1996  Primera Licenciatura</strong><br>La Tecnicatura Superior en Programación (TSP) fue aprobada por Resolución del Consejo Superior N° 323/04. La carrera tiene una duración de dos años; y como objetivo formar programadores altamente capacitados para desempeñarse en todos los campos de desarrollo de software.<br><br><strong>2007  Dictado en Extensión Áulica</strong><br>Se implementa la Carrera en la sede de la Extensión Áulica de Villa Ángela, donde se cuenta con un laboratorio con diez computadoras y acceso a Internet.<br><br></p>
				<p style="text-align: justify;"><br><strong>- LICENCIATURA EN TECNOLOGÍA EDUCATIVA</strong></p>
				<p style="text-align: justify;"><br><strong>2003  Nueva oferta en el Ámbito Educativo</strong><br>Esta Licenciatura ofrece un panorama de los problemas de la Gestión Académica, de la Pedagogía Universitaria y de los nuevos aportes que la Tecnología ha hecho a la Educación, para quienes poseen títulos de Profesor Superior no universitario o Títulos Universitarios de otras disciplinas. Tiene una modalidad semipresencial y la cursada es de dos años, más la presentación de una tesis.</p>
				<p style="text-align: justify;">&nbsp;</p>
				<p style="text-align: justify;">&nbsp;</p>
				<p style="text-align: center;"><span style="font-size: small;"><strong>DE LAS CARRERAS DE GRADO A LOS POSGRADOS</strong></span></p>
				<p style="text-align: justify;">&nbsp;</p>
				<p style="text-align: justify;"><strong>1981  Se lanza el Primer Posgrado</strong><br>Apenas veinte años después del inicio de las actividades de la Facultad Regional Resistencia de UTN hace su aparición la Especialización en Higiene y Seguridad. Es así que los posgrados tienen casi tres décadas en la Tecnológica de Resistencia.<br><br><strong>1990  Posgrados para Ingenieros</strong><br>Surge el primer Curso de Posgrado en Gestión Empresarial para Ingenieros. Cuatro años después se propuso y obtuvo la aprobación de su transformación en Carrera de Especialización en Ingeniería Gerencial, la que se sigue dictando exitosamente hasta nuestros días.<br><br><strong>1996  Posgrados en Calidad</strong><br>Se inicia la Especialización en Ingeniería en Calidad, la cual busca generar y fortalecer competencias tanto para el diseño como para la gestión de procesos organizacionales orientados a la mejora continua y a la calidad. Asimismo comenzó a dictarse la Maestría en Ingeniería en Calidad (MIC) con el propósito de desarrollar competencias profesionales altamente especializadas en el área, para el análisis, planificación, gestión y evaluación parcial y total de cualquier actividad relacionada con la calidad en todo tipo de organización.<br><br><strong>1998-2008  Posgrados Gerenciales</strong><br>Como continuación de la “Especialización en Ingeniería Gerencial”, creada en el año 2008, el 25 de junio de 2003, por Ordenanza Nº 997, nace la Maestría en Administración de Negocios, y por Ordenanza 1184 del 24 de abril de 2008, se actualizó su diseño curricular (siempre en un proceso de mejora continua). Desde su nacimiento en el Chaco se difundió a todo el país, siendo dictada en 17 Facultades Regionales, es la maestría más numerosa en sedes y alumnos de toda la UTN.<br><br><strong>2006  Ingeniería de Software</strong><br>Luego de iniciarse las tratativas en 2005, comienza a dictarse la Maestría en Ingeniería de Software, mediante un convenio entre la Facultad Regional Resistencia de UTN, las Facultades de Ciencias Exactas y Naturales y Agrimensura de la UNNE, y de Informática de la UNLP, con el objetivo de favorecer el desarrollo de tales estudios de posgrado en el NEA. A la fecha ya se han realizado dos cohortes (2006-2007 y 2008-2009), teniendo egresados que están realizando sus trabajos de tesis.<br><br><strong>2008  Ingeniería en Alimentos</strong><br>Se inicia la Especialización en Ingeniería de los Alimentos, la cual comprende el desarrollo y aplicación de conocimientos a la manufactura, preservación, almacenaje y transporte de alimentos, buscando la movilización de desarrollos científicos y tecnológicos que generen soluciones creativas en beneficio del NEA y del país. En el mismo año, se inició el dictado de la Maestría en Ingeniería de los Alimentos, con el objetivo de establecer una vinculación tecnológica entre la Universidad y el sistema industrial alimentario para promover un desarrollo sostenido.</p>
        </div>
        <div id="contactoInst" class="textoDifNavInst">
            <p>
                <ul id="contactos-polo">
                    <li>Dirección: French 414 - Resistencia (H3500) - Chaco - Argentina </li>
                    <li>Tel: (54-0362) 4432928 </li>
                    <li>Tel. Fax: (54-0362) 4432683 </li>
                </ul>
            </p>
        </div>
        <div id="eventosInst" class="pagContrInst">
            <p>Disponible próximamente. Sección en construcción.</p>
        </div>
        <div id="noticiasInst" class="pagContrInst">
            <p>Disponible próximamente. Sección en construcción.</p>
        </div>
    </div>
</div>
<div class="contentDer">
    <div id="map">

    </div>
</div>

@section Head{
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/instituciones.css">
    <script type="text/javascript" src="~/Scripts/instituciones.js"></script>
}